html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 25px 0;
}

.Header {
  text-align: center;
}

  .Header h1 {
    font-size: 4.5rem;
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .Header h1 {
      font-size: 2.7rem;
    }
  }