html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 25px;
}

.Header {
  text-align: center;
  margin-bottom: 25px;
}
@media only screen and (max-width: 576px) {
  .Header h1 {
    font-size: 3.2rem;
  }
}

.SudokuBoard {
  margin: auto;
  background-color: #bbb;
  margin-bottom: 25px;
}

.SudokuBox {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
}

.SudokuButtons {
  max-width: 500px;
  margin: auto;
  margin-bottom: 10px;
}

.Button {
  display: block;
  width: 150px;
  margin: auto;
  margin-bottom: 15px;
}

@media only screen and (max-width: 576px) {
  .SudokuBox {
    width: 34px;
    height: 34px;
    font-size: 1.3rem;
  }
}